@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




@CommonBlock()

@display啟用停用(ViewBag.IsEnabled)


@section footer {
&copy; @DateTime.Now.Year - Will 的 ASP.NET 應用程式
}

@helper CommonBlock()
{
    <p>Use this area to provide additional information.</p> @Getdate()
}



@functions{
    public IHtmlString Getdate()
    {
        return new HtmlString(DateTime.Now.ToShortDateString());
    }
}



@helper display啟用停用(bool status)
{
    if(status)
    {
        @:啟用
    }
    else
    {
        @:停用
    }
}